In [1]:
import numpy as np
import pandas as pd
from word2number.w2n import word_to_num

In [2]:
df=pd.read_csv(r"C:\Users\91779\Downloads\hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [16]:
df.describe(include="all")

,experience,test_score(out of 10),interview_score(out of 10),salary($)
count,8.0,8.000000,8.000000,8.00000
unique,7.0,NaN,NaN,NaN
top,0.0,NaN,NaN,NaN
freq,2.0,NaN,NaN,NaN
mean,NaN,7.875000,7.875000,63000.00000
std,NaN,1.246423,1.642081,11501.55269
min,NaN,6.000000,6.000000,45000.00000
25%,NaN,7.000000,6.750000,57500.00000
50%,NaN,8.000000,7.500000,63500.00000
75%,NaN,8.250000,9.250000,70500.00000
max,NaN,10.000000,10.000000,80000.00000

In [3]:
df.columns[df.isna().any()]

Index(['experience', 'test_score(out of 10)'], dtype='object')

In [4]:
df['test_score(out of 10)']=df['test_score(out of 10)'].fillna(df['test_score(out of 10)'].median())

In [5]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [6]:
df['experience']=df['experience'].fillna('zero')

In [7]:
for i in range(8):
    df.loc[i,'experience']=word_to_num( df.loc[i,'experience'])

In [8]:
df.experience

0     0
1     0
2     5
3     2
4     7
5     3
6    10
7    11
Name: experience, dtype: object

In [9]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']],df['salary($)'])

LinearRegression()

In [10]:
reg.predict([[2,9,6]])

c:\Program Files\Python311\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671])

In [11]:
reg.score(df[['experience','test_score(out of 10)','interview_score(out of 10)']],df['salary($)'])

0.961678000257796