In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv("C:\\Users\\91779\\Downloads\\archive.zip")
df.drop(['Name','SibSp','Parch',"Ticket","Cabin","Embarked",'PassengerId'],axis=1,inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  34.5   7.8292
1         1       3  female  47.0   7.0000
2         0       2    male  62.0   9.6875
3         0       3    male  27.0   8.6625
4         1       3  female  22.0  12.2875

In [3]:
df=pd.get_dummies(df)
df.head()

   Survived  Pclass   Age     Fare  Sex_female  Sex_male
0         0       3  34.5   7.8292           0         1
1         1       3  47.0   7.0000           1         0
2         0       2  62.0   9.6875           0         1
3         0       3  27.0   8.6625           0         1
4         1       3  22.0  12.2875           1         0

In [4]:
df.isna().sum()

Survived       0
Pclass         0
Age           86
Fare           1
Sex_female     0
Sex_male       0
dtype: int64

In [5]:
df.Age=df.Age.fillna(df.Age.mean())
df.Fare=df.Fare.fillna(df.Fare.mean())

In [6]:
input = df.drop(['Survived'],axis=1)
target = df.Survived

In [7]:
input.head()

   Pclass   Age     Fare  Sex_female  Sex_male
0       3  34.5   7.8292           0         1
1       3  47.0   7.0000           1         0
2       2  62.0   9.6875           0         1
3       3  27.0   8.6625           0         1
4       3  22.0  12.2875           1         0

In [8]:
target

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [9]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.datasets import load_iris
iris=load_iris()
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [10]:
parameters = {'kernel':('linear', 'rbf'), 'C':[1, 10]}
model = SVC()
clf = GridSearchCV(model, parameters)
clf.fit(iris.data, iris.target)

GridSearchCV(estimator=SVC(),
             param_grid={'C': [1, 10], 'kernel': ('linear', 'rbf')})

In [11]:
clf.best_params_

{'C': 1, 'kernel': 'linear'}